* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@aspect-ratio: 7/10;
@legend-length: 7; //number of legend items

@mobile: ~"(max-width: 480px)";
@tablet: ~"(max-width: 800px)";

@import "seattletimes";
@import "values";

body {
  font-family: @df-sans;
  padding: 0;
  margin: 0;
}

.aspect-ratio-outer {
  width: 100%;
  position: relative;

  .aspect-ratio-inner {
    padding-bottom: percentage(@aspect-ratio);
    position: relative;
  }

  leaflet-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:not([ready]) {
      display: none;
    }
  }
}

.map-container {
  position: relative;


}

.bigheader {
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  margin: 12px 0 0 0;

  @media @tablet {
    font-size:14px;
  }
}

.popuptext {
  font-family: @df-sans;
  width: auto;

  .normal {
    margin: 6px 0;
  }

  .note {
    margin-top: 8px;
    font-size: 95%;
    text-decoration: italic;
    color: #6D6D6D;
    padding-left: 5px;
  }

  .address {
    text-align: center;
  }

  .emphasis {
    font-weight: bold;
    font-size: 110%;
  }

  .popup-img {
    width: 100%;
    min-width: 380px;
    height: auto;
    padding-top: 10px;

    @media @tablet {
      min-width:300px;
    }

    @media @mobile {
      min-width:200px;
    }
  }

  .image-credit {
      font-size: 90%;
      text-align: right;
      text-transform: uppercase;
      display:block;
      color: gray;
    }
}

@import "leaflet-tweaks";
@import "legend";