<!doctype html>
<html>

<head>
  <title>
    <%= json.project.title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Safari, you're the worst -->
  <meta name='format-detection' content='telephone=no'>
  <link rel="stylesheet" type="text/css" href="style.css">
  <%= t.include("partials/_head.html") %>
</head>

<body>

  <responsive-child class="map-container">
    <div class="outmost">
      <section class="chatter">
        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat aliquam lectus vitae porttitor. Donec euismod sem dui, ac gravida sem mattis sed. Fusce porttitor accumsan sem elementum convallis. Nam id augue lobortis, laoreet magna non,
          sodales risus. </p>
      </section>

      <div class="aspect-ratio-outer">
        <div class="aspect-ratio-inner">

          <leaflet-map zoom=10>
            <tile-layer layer="cartoPositron"></tile-layer>
            <geo-json>
              <geo-data>
                <%= t.include("states.geo.json") %>
              </geo-data>
              <geo-style>{ "weight": 1, "color": "#000", "opacity":0.1 }</geo-style>
              <geo-palette property="CENSUSAREA">
                <color-mapping max=10000 color="purple"></color-mapping>
                <color-mapping min=10001 max=50000 color="blue"></color-mapping>
                <color-mapping min=50001 max=100000 color="green"></color-mapping>
                <color-mapping min=100001 max=200000 color="yellow"></color-mapping>
                <color-mapping min=200001 color="orange"></color-mapping>
              </geo-palette>
              <geo-popup>
                <h1 class="bigheader">{{NAME}}</h1>
                <ul>
                  <li> Size: {{CENSUSAREA}}
                    <li> State ID: {{STATE}}
                      <li> Geo ID: {{GEO_ID}}
                </ul>
              </geo-popup>
            </geo-json>
          </leaflet-map>

        </div>
        <aside class="legend">
          <h1>Map legend</h1>
          <ul class="scale">
            <li>
              <span class="block" style="background-color: red"></span> Cherry</li>
            <li>
              <span class="block" style="background-color: orange"></span> Orange</li>
            <li>
              <span class="block" style="background-color: yellow"></span> Lemon</li>
            <li>
              <span class="block" style="background-color: green"></span> Lime</li>
            <li>
              <span class="block" style="background-color: blue"></span> Blueberry</li>
          </ul>
        </aside>
      </div>


      <div class="source">Source: Name of source
        <span class="credit">XXX XXX / THE SEATTLE TIMES</div>
    </div>
  </responsive-child>

  <script src="app.js"></script>
  <% /*= t.include("partials/_foot.html"); */ %>
    <%= t.include("partials/_workHere.html") %>
</body>

</html>
